.App {
  text-align: center;
  justify-content: center;
  border: 5px solid plum;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width:50vb ;
  border-radius: 10vb;
  padding: 0 20px 0 20px;
  margin: 0 20px 0 20px;
}
h1{
  height: 50px;
  margin: 10px 0 0 0;
}

